.header__container {
  height: 60px;
  background-color: #EBEBEB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 30px;
  margin-right: 32px;
}

.header__nav {
  display: flex;
  gap: 40px;
}

.header__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 16px;
}

/* 팀 생성하기 팝업 */
.nav-link.clickable {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.nav-link.clickable:hover {
  text-decoration: underline;
}